<!DOCTYPE html>
<html>
  <head>
    <meta charset=“UTF-8”>
    <meta lang=“english”>
    <meta title=“Books”>
    <title>Library Management</title>
  </head>
  <body onload="loadBooks()">
    <h1>Listing books</h1>
    <table id="list">
      <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Price</th>
        <th colspan="3"></th>
      </tr>
      </tr>
    </table>
  </body>
</html>
