<!DOCTYPE html>
<html>
  <head>
    <meta charset=“UTF-8”>
    <meta lang=“english”>
    <meta title=“Book”>
    <title>Library Management</title>
  </head>
  <body onload="showBook()">
    <div id="book">
      <label class="name"></label><br />
      <lable class="author"></lable><br />
      <lable class="price"></lable><br />
      <lable class="category"></lable><br />
      <lable class="code"></lable><br />
      <lable class="publication"></lable><br />
      <lable class="version"></lable><br />
      <lable class="no_of_copies"></lable><br />
    </div>
    <div id="issueHistories">
      <h1>Issue Histories</h1>
      <table class="list">
        <tr>
          <th>Member</th>
          <th>Issue Date</th>
          <th>Return Date</th>
          <th>Type of Book</th>
          <th>Number of copies</th>
          <th colspan="3"></th>
        </tr>
      </table>
    </div>
  </body>
</html>