<!DOCTYPE html>
<html>
  <head>
    <meta charset=“UTF-8”>
    <meta lang=“english”>
    <meta title=“Category”>
    <title>Library Management</title>
  </head>
  <body>
    <h1>Edit category</h1>
		<form>
		  category name:<br>
		  <input id="categoryName" type="text" name="libraryName">
		  <br><br>
		  <input type="button" value="Submit" onclick="update(categoryName.value)">
		</form> 
  </body>
</html>
