<!DOCTYPE html>
<html>
  <head>
    <meta charset=“UTF-8”>
    <meta lang=“english”>
    <meta title=“Category”>
    <title>Library Management</title>
  </head>
  <body>
    <h1>Listing categories</h1>
    <button onclick="openForm()">New category</button>
    <table id="list">
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
      </tr>
    </table>
  </body>
</html>
