<!DOCTYPE html>
<html>
  <head>
    <meta charset=“UTF-8”>
    <meta lang=“english”>
    <meta title=“Category”>
    <title>Library Management</title>
  </head>
  <body>
    <h1>New categories</h1>
		<form>
		  Category name:<br>
		  <input type="text" name="categoryName">
		  <br><br>
		  <input type="button" value="Submit" onclick="create(categoryName.value)">
		</form> 
  </body>
</html>
