<!DOCTYPE html>
<html>
  <head>
    <meta charset=“UTF-8”>
    <meta lang=“english”>
    <meta title=“issue_histories”>
    <title>Library Management</title>
  </head>
  <body>
    <h1>Listing issue histories</h1>
    <table id="list">
      <tr>
        <th>Book</th>
        <th>Member</th>
        <th>Issue Date</th>
        <th>Return Date</th>
        <th>Type of book</th>
        <th>No of copies</th>
        <th colspan="3"></th>
      </tr>
      </tr>
    </table>
  </body>
</html>
