<!DOCTYPE html>
<html>
  <head>
    <meta charset=“UTF-8”>
    <meta lang=“english”>
    <meta title=“Issue_History”>
    <title>Library Management</title>
  </head>
  <body>
    <div id="issueHistory">
      <label class="book"></label><br />
      <lable class="member"></lable><br />
      <lable class="issueDate"></lable><br />
      <lable class="returnDate"></lable><br />
      <lable class="typeOfBook"></lable><br />
      <lable class="noOfCopies"></lable><br />
    </div>
  </body>
</html>